.button{ font-family: Arial, Helvetica, sans-serif; font-size:14px; color:#333333; text-decoration:none; font-weight:bold;}
.button_white{ font-family: Arial, Helvetica, sans-serif; font-size:14px; color: #FFFFFF; text-decoration:none; font-weight:normal;}
.iso{ font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#333333; text-decoration:none; font-weight:normal;}

	.borderb{
	border-left: 1px solid #CCCCCC;
	}
.text{ font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #333333; text-decoration:none; font-weight:normal; line-height:21px;}

	.borderb_bottom{
	border-top: 1px solid  #CCCCCC;
	}
.text_terms{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #333333;text-decoration:none; font-weight:normal;}
.more{ font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #000000;text-decoration:none; font-weight:normal;}
.bold{ font-family: Arial, Helvetica, sans-serif; font-size:13px; color: #000000;text-decoration:none; font-weight: bold;}
.text_next{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #387db5;text-decoration:none; font-weight: bold;}
.head{ font-family: Arial, Helvetica, sans-serif; font-size:22px;color: #002463;text-decoration:none; font-weight: bold;}
.product_button{ font-family: Arial, Helvetica, sans-serif; font-size:12px;color: #002463;text-decoration:none; font-weight:bold;}
.left_about_button{ font-family: Arial, Helvetica, sans-serif; font-size:13px; color: #ffffff;text-decoration:none; font-weight: bold;}
.text_left{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #333333; text-decoration:none; font-weight:normal; line-height:18px;}

.text_white{ font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #FFFFFF; text-decoration:none; font-weight:normal; line-height:21px;}
.metal_recycling{ font-family: Arial, Helvetica, sans-serif; font-size:14px; color: #2b2f75; text-decoration:none; font-weight: bold;}
.metal_recycling:hover{ font-family: Arial, Helvetica, sans-serif; font-size:14px; color:#000000; text-decoration:none; font-weight:bold;}
.baler{ font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #2b2f75; text-decoration:none; font-weight: normal;}
.baler:hover{ font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#000000; text-decoration:none; font-weight: normal;}
.mini{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #2b2f75; text-decoration:none; font-weight: bold;}
.mini:hover{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; font-weight: bold;}
.red{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #ef5c19; text-decoration:none; font-weight: normal;}
.red:hover{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; font-weight: normal;}
.overview{ font-family: Arial, Helvetica, sans-serif; font-size:13px; color: #FFFFFF; text-decoration:none; font-weight: bold;}
.technicals{ font-family: Arial, Helvetica, sans-serif; font-size:13px; color: #000000; text-decoration:none; font-weight: bold;}
.collun{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #000000;text-decoration:none; font-weight:normal;}
.white{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #ffffff;text-decoration:none; font-weight:normal;}
.inner{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #2b2f75; text-decoration:none; font-weight: normal;}
.inner:hover{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#000000; text-decoration:none; font-weight: normal;}
.baler_bold{ font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #2b2f75; text-decoration:none; font-weight: bold;}
.baler_bold:hover{ font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#000000; text-decoration:none; font-weight: bold;}
.table{font-family: Arial, Helvetica, sans-serif; font-size:10px; color:#000000; text-decoration:none;}
.baler1{ font-family: Arial, Helvetica, sans-serif; font-size:12px; color: #2b2f75; text-decoration:none; font-weight:normal; line-height:12px}
.mini2{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color: #2b2f75; text-decoration:none; font-weight: bold; line-height:12px}
.product_button2{ font-family: Arial, Helvetica, sans-serif; font-size:12px;color: #002463;text-decoration:none; font-weight:bold; line-height:12px}
.quote{ font-family: Arial, Helvetica, sans-serif; font-size:35px; color: #ef5c19; text-decoration:none; font-weight: bold;}