
	/*~~~~~~~~~~~~~~~~ Menu Styles (global - all menus) ~~~~~~~~~~~~~~~~*/
	.new_right{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#2b2f75; font-weight:bold; text-decoration:none; line-height:18px; background-image: url(image/arrow_right.gif); background-repeat:no-repeat; background-position: left; padding:0 0 0 10px;}
	 
	.new_right:hover{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color: #000000; font-weight:bold; text-decoration:none; background-image:     url(image/arrow_right.gif); background-repeat:no-repeat; background-position: left;} 
	
	
	.sub_main_last{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color: #2b2f75; font-weight: bold; text-decoration:none; padding-left:50px;} 
	.sub_main_last:hover{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color: #000000; font-weight: bold; text-decoration:none; padding-left:50px;}
	
	
	.new{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#2b2f75; font-weight:bold; text-decoration:none; line-height:18px; background-image:     url(image/arrow_right.gif); background-repeat:no-repeat; background-position: left; padding:0 0 0 10px;}
	 
	.new:hover{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color: #000000; font-weight:bold; text-decoration:none; background-image: url(image/arrow_right.gif); background-repeat:no-repeat; background-position: left;} 
	/******[Main Menu]******/
	
	
	.spe_main{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color: #000000; font-weight: bold; text-decoration:none; padding-left:20px;} 
	.spe_main:hover{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color: #605e60; font-weight: bold; text-decoration:none; padding-left:20px;}
	
	.spl{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#2b2f75; font-weight: normal;text-decoration:none; line-height:18px; background-image:     url(image/arrow_right.gif); background-repeat:no-repeat; background-position: left; padding:0 0 0 10px;}
	 
	.spl:hover{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color: #000000; font-weight: normal;text-decoration:none; background-image:     url(image/arrow_right.gif); background-repeat:no-repeat; background-position: left;} 
	
	.baler{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #188e42; font-weight:bold; text-decoration:none; line-height:18px; }
	 
	.baler:hover{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color: #000000; font-weight:bold; text-decoration:none;} 
	          
	.sub_main{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#2b2f75; font-weight: bold; text-decoration:none; padding-left:16px;} 
	.sub_main:hover{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color: #000000; font-weight: bold; text-decoration:none; padding-left:16px;}
	.sub{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color: #ef5c19; font-weight: normal; text-decoration:none;} 
	.sub:hover{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color: #000000; font-weight: normal; text-decoration:none;}
	
	.total{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color: #2b2f75; font-weight:bold; text-decoration:none; line-height:18px; display:block;} 
	.total:hover{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color: #000000; font-weight:bold; text-decoration:none; } 
	/*Main Menu Container*/
	.nfMain {background-image:url(image/nfHome_bg.jpg);background-image:url('images/nfHome_bg.gif');padding:0;}

	/*Item Links*/

	/*Item Links*/
	.nfMain .nfLink {border:1px #d7d2d6 solid;padding:9px 37px 6px 37px;font-family:Arial;font-size:12px;color:#605e60;text-decoration:none;  font-weight: bold;}

	/*Item Links - Parent*/
	.nfMain .nfParent .nfLink {background-image:url('images/arrow1_down.gif');background-position:92% 52%;background-repeat:no-repeat;}
	.nfMain .nfParent .nfSubS .nfLink {background-image:}

	/*Item Links - Hover (duplicate styles below!)*/
	.nfPure .nfItem:hover>.nfLink, .nfPure .nfItem:hover>*>.nfLink {text-decoration:none;background-image:url(image/bg.gif);}
	.nfPure .nfLink:hover, .nfMain .nfJSHover {text-decoration:none; color:#FFFFFF; font-weight: bold; background-image:url(image/bg.gif); background-repeat:repeat-x;}
	
	
    
	/*Item Links - Active*/
	.nfMain .nfItem .nfJSActive {border-bottom-color:#ffffff;text-decoration:none; background-image:url(image/bg.gif); background-repeat:repeat-x;}
	
	/*Item Links - Focus*/
	.nfPure .nfLink:focus, .nfMain .nfItem .nfJSFocus {text-decoration:none;}	

	/*Item Links - Breadcrumbs*/
	.nfMain .nfItem .nfJSBreadcrumb { background-image:url(image/bg.gif);}

	/******[Sub Menus]******/
	
	/*Sub Menu Styles*/
	.nfMain .nfSubS {padding:5px; padding-left:15px; padding-right:15px; padding-bottom:15px;}
	.nfMain .nfSubS {border:solid 1px #d7d2d6;border-width:0px 1px 1px 1px;background-color:#ffffff;-moz-border-radius-bottomLeft:10px;-moz-border-radius-bottomRight:10px;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px; color:#000000;}

	/*Sub Menu Position Offsets - Level 2*/
	.nfMain .nfSubS .nfSubC {margin:-1px 0px 0px 0px; }

	/*Sub Menu Styles - Level 2*/
	.nfMain .nfSubS .nfSubS {border-width:1px;}
	.nfMain .nfSubS .nfSubS {-moz-border-radius-topRight:10px;-moz-border-radius-bottomLeft:10px;-moz-border-radius-bottomRight:10px;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;-webkit-border-top-right-radius:10px;}

	/*Item Links*/
	.nfMain .nfSubS .nfLink {border-style:solid;border-width:0px 0px 1px 0px;border-color:#999;padding:6px 40px 6px 5px;font-size:12px; background-color:#FFFFFF;}

	/*Item Links - Parent*/
	.nfMain .nfSubS .nfParent .nfLink {background-image:url('image/arrow_sub_menu.gif');}
	.nfMain .nfSubS .nfParent .nfSubS .nfLink {background-image:none;}
	
	/*Item Links - Last Child (ignored by IE8 & down)*/
	.nfMain .nfSubS .nfItem:last-child .nfLink {border-width:0px;}
	
	/*Item Links - Hover (duplicate styles below!)*/
	.nfMain .nfSubC .nfItem:hover>.nfLink { visibility:visible;}
	.nfMain .nfSubC .nfLink:hover, .nfMain .nfSubC .nfJSHover {visibility:visible;}

	/*Item Links - Active*/
	.nfMain .nfSubS .nfItem .nfJSActive {background-color:#ccd0e3;color:#425fa7;text-decoration:none;}
	
	/*Item Links - Focus*/
	.nfPure .nfSubS .nfLink:focus, .nfMain .nfSubS .nfItem .nfJSFocus {color:#03f;}	

	/*Item Links - Breadcrumbs*/
	.nfMain .nfSubS .nfItem .nfJSBreadcrumb {}

	

	/******[Custom Menu Classes and Styles]******/

	.custTitle {font-size:1em;margin:20px 0px 5px 0px; background-image:url(image/nfHome_bg.jpg);font-weight:bold;}
	.custTitleBoxed {font-size:.9em;margin:20px 0px 5px 10px; background-image:url(image/nfHome_bg.jpg);padding:5px;border-style:solid;border-width:1px;background-color:#fff;border-color:#979cb6;-moz-border-radius:4px;-webkit-border-radius:4px;}
	.custTitleTop {margin:5px 0px 5px 0px;}	
	
	.custMegaSub {width:600px;}
	.custMegaItem {font-size:.9em;}

	.megaContentRight {position:relative;width:250px;left:330px;}
	.megaContentMiddle {position:absolute;width:220px;left:170px;}
	.megaContentLeft {position:absolute;width:200px;}
	.megaContentMiddle ul, .megaContentLeft ul, .megaContentRight ul {list-style-type:circle;margin:5px 0px 0px 5px;padding:2px; padding-left:15px; height:400px;}

	.megaTopTitle {width:580px; font-size:1em;white-space:normal;margin-bottom:2px;padding:2px;background-color:#fff;border-color:#979cb6;-moz-border-radius:2px;-webkit-border-radius:2px; }
	.megaTitle {white-space:normal; }
	
	
	
	