---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Jain Hydraulic Recycling (JHR): Manufacturers of Hydraulic Balers, Shears, and Shredders for Metal Scrap, and Waste Processing Industries" description="Explore Jain Hydraulics Recycling, where innovation and sustainability converge. As leaders in metal, metal scrap and waste recycling, our commitment to engineering excellence shapes a greener future. Join us on our journey of cutting-edge solutions and environmental responsibility." >

    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 lg:py-16">
        <div class="grid gap-6 mx-auto md:max-w-[80%]">
            <p>
                Jain Hydraulics Recycling is the India’s largest manufacturers
                of Hydraulic scrap baling presses, Shredders, Crushers, Box balers, Shearers,
                Continuous feed high production Paper balers, Paper shredders, Slag crushers, 
                Finer, Hospital Waste Management Equipments (Bio medical waste sterilizers
                & Shredders) and Solid waste Management Equipment
            </p>
            <p>
                Jain Hydraulics Recycling (JHR) has been manufacturing world leading recycling equipments.
                Being a pioneer, Our world class resource pool and advanced technology
                has consistently lead driving and encouraging change in the world of recycling industries.
            </p>
            {/*
                
                <div class="grid grid-cols-2 text-center mx-auto gap-x-8 md:gap-x-14">
                    <div class="border border-gray-300 py-2 md:px-10 px-4">
                        <p class="uppercase font-mono font-bold text-gray-400">Director</p>
                        <p class="uppercase font-mono font-bold">Ajay Jain</p>
                    </div>
                    <div class="border border-gray-300 py-2 md:px-10 px-4">
                        <p class="uppercase font-mono font-bold text-gray-400">Director</p>
                        <p class="uppercase font-mono font-bold">Bhuvan Jain</p>
                    </div>
                </div>
            
             */}
             <div class="grid gap-y-12 px-4 sm:my-4">
                
                <div class="grid grid-cols-12 sm:flex sm:justify-center gap-4 sm:gap-x-12 lg:gap-x-24">
                    <div class="col-span-6 md:cold-span-3 text-center">
                        <h4 class="bg-gradient-to-b from-gray-900 to-gray-400 bg-clip-text text-transparent text-2xl md:text-5xl font-bold">
                            50+
                        </h4>
                        <h4 class="text-md text-gray-600 dark:text-gray-400">
                            Years of Expertise 
                        </h4>
                    </div>
                    <!-- End Col -->
                    
                    <div class="col-span-6 md:cold-span-3 text-center">
                        <h4 class="bg-gradient-to-b from-gray-900 to-gray-400 bg-clip-text text-transparent text-2xl md:text-5xl font-bold">
                            10000+
                        </h4>
                        <h4 class="text-md text-gray-600 dark:text-gray-400">
                            Machines Installed
                        </h4>
                    </div>
                    <!-- End Col -->
                    
                    <div class="col-span-6 md:cold-span-3 text-center">
                        <h4 class="bg-gradient-to-b from-gray-900 to-gray-400 bg-clip-text text-transparent text-2xl md:text-5xl font-bold">
                            200+
                        </h4>
                        <h4 class="text-md text-gray-600 dark:text-gray-400">
                            Turnkey Projects
                        </h4>
                    </div>
                    <!-- End Col -->
                    
                    <div class="col-span-6 md:cold-span-3 text-center">
                        <h4 class="bg-gradient-to-b from-gray-900 to-gray-400 bg-clip-text text-transparent text-2xl md:text-5xl font-bold">
                            100+
                        </h4>
                        <h4 class="text-md text-gray-600 dark:text-gray-400">
                            Countries
                        </h4>
                    </div>
                    <!-- End Col -->
                </div>
            </div>

        </div>
    </div>

</Layout>