---
import BlogSection from "../components/BlogSection.astro";

const allPosts = await Astro.glob("../pages/posts/*.mdx");

---
<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
    <a href="/blog" class="hover:text-gray-800"><h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Insights</h2></a>
    <p class="mt-1 text-gray-600 dark:text-gray-400">Stay in the know with insights from industry experts.</p>
</div>
<!-- End Title -->

<!-- Grid -->
<div class="grid md:grid-cols-3 gap-10 md:max-w-[60%] mx-auto">
    {
        allPosts.map((post) => (
            <BlogSection url={post.url} imagePath={post.frontmatter.imagePath} title={post.frontmatter.title} intro={post.frontmatter.intro} />
        ))
    }
</div>
    
